.f-hander {
    cursor: pointer !important;
}

.f-valign-middle {
    vertical-align: middle !important;
}

.f-valign-top {
    vertical-align: top !important;
}

.f-center {
    text-align: center !important;
}