/*字体图标默认处理*/
.icon {
    font-size: 14px !important;
    width: 14px !important;
    height: 14px !important;
    display: inline-block;
}
/*分页按钮特殊处理*/
.btn-pagination {
    .btn {
        /*分页按钮要小一号 */
        font-size: 12px !important;
        padding: 0px 5px !important;
    }
}
