html,body {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    min-width: 1080px;
}

/*分隔线（实线）*/
.row-driveline {
    width: 100%;
    height: 0px;
    border-top: 1px solid $gray-lighter;
}

/*分隔线（虚线）*/
.row-dashline {
    width: 100%;
    height: 0px;
    border-top: 1px dashed $gray-lighter;
}

/* 顶部 */
.g-head {
    position:absolute;
    left: 0;
    top: 0;
    width:100%;
    height:66px;
    line-height:66px;
    z-index:100;
    color: #ffffff;
    background-color: #1C2B36;
    padding: 0 40px;
    .m-logo{
        float: left;
        font-size: 16px;
        letter-spacing: 1px;
        font-weight: bold;
        .u-logo-name{
            color: #209e91;
            letter-spacing: 0;
        }
    }
    .m-collapse{
        margin-left: 20px;
        float: left;
        display: block;
        color: #ffffff;
    }
    .u-photo{
        margin-left: 50px;
        float: right;
        display: block;
        .img{
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
    }
    .u-uid{
        color: #209e91;
        float: right;
    }
    .u-logout{
        margin-left: 10px;
        float: right;
        display: block;
        color: #ffffff;
    }
}
//显示区
.g-bd{
    position:relative;
    padding-top:66px;
    height: 100%;
    width: 100%;
}
.g-wrap{
    position:relative;
    border-top: 1px solid $gray-base;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    .g-left-menu{
        overflow: hidden;
        width: 180px;
        height: 100%;
        float: left;
        position: relative;
        min-height: 1px;
        transition: width 0.5s;
    }
    .g-right-container{
        overflow: hidden;
        height: 100%;
        position: relative;
        min-height: 1px;
        padding: 0;
        transition: width 0.5s;
    }
}
//主内容区
.g-view{
    position:relative;
    height: 100%;
    width: 100%;
    padding-top:10px;
    padding-left:30px;
    padding-right:30px;
    overflow-x:hidden;
    overflow-y:scroll;
}

.m-role{
    .m-tree-container{
        max-height: 400px;
        overflow-y: auto;
    }
}

 
